body{
    background-color: black;
    text-align: center;
}
h1 {
    color: blue;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    border: 2px solid darkred;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 26px;
    padding: 20px;
}
button{
    width: 250px;
    border: 2px solid darkred;
    font-weight: bold;
    border-radius: 26px;
    background-color: black;
    color: violet;
    height: 50px;
    margin-top: 20px;
    box-shadow: 25px;

}
button:hover {
    background-color: blue;
    color: darkgreen;
    border: 3px solid darkred;
    transform: rotate(5deg);
    cursor: pointer;
}
h2{
    color: white;
    font-weight: bold;
}
input{
    border: 2px solid darkred;
    background-color: white;
    border-radius: 26px;
    text-align: center;
    padding: 15px 90px;
}
table{
    border: 0px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
td{
    width: 20%;
    color: violet;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
Label{
    color: violet;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}