li
{
    list-style-type: none;
}
div#menu ul 
{
    padding: 0;
    width: 100px;
    border: 1px solid;
    margin: 0px;
}
div#menu ul li
{
    position:relative;
    border-bottom: 1px solid;
}

div#menu ul ul
{
    position: absolute;
    top: 0;
    left: 100px;
}
div#menu li a
{
    text-decoration: none;
}
div#menu ul ul
{
    position: absolute;
    top:0;
    left: 100px;
    display: none;
}
div#menu ul.n1 li.sm:hover ul.n2,
div#menu ul.n2 li.sm:hover ul.n3 {display: block;}

div#menu a {color: black; font-size: 25px;}

div#menu a:hover {background: lightsteelblue;}

div#menu li:hover {background: lightsteelblue;}

div#menu li.sm {background: lightslategrey;}

div#menu li a
{
    text-decoration: none;
    padding: 4px à 4px 8px;
    display:block; 
    border-left: 5px solid purple;
    width: 100px;
}

div#menu li a:hover
{
    border-left:  5px solid navy;
}