body
{
	background-color: beige;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}

ul li 
{
	width: 200px;
	height: 50px;
	border: 2px solid #364;
	background-color: #FE937C;
	list-style: none;
	color: #FFF77B;
	font-size: 18px;
	line-height: 50px;
}

ul li:hover
{
	cursor: pointer;
	width: 250px;
	background-color: blueviolet;
	color: black;
	font-weight: bold;
	border: 2px solid darkred;
	padding-left: 30px;
	transition: all 1s;
}
div
{
	background-color: grey;
	height: 300px;
}