body
{
    background-color: rgb(255, 45, 115);
}

button
{
    width: 400px;
    height: 200px;
    background-color: blue;
    border: 2px solid rgb(240, 221, 49);
    border-radius: 26px;
    color: white;
    font-size: 2em;
    margin-left: 20%; 
}

button:hover
{
    background-color: rgb(255, 170, 59);
    color: black;
}

input
{
  height: 50px;
  width: 300px;
  font-size: 2em;
  margin-left: 25%;
}

.a2
{
    height: 50px;
    width: 300px;
    font-size: 2em;
    margin-left: 40%;  
}

